/*root类选择器给所有的元素设置样式*/
.root {
    -fx-focus-color: #81b25e;
    -fx-font-size: 1.1em;
    -fx-background-position: center center;
    -fx-background-color: white;
}

/*button类型选择器设置所有Button的背景色*/
.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: #bbb;
    -fx-border-radius: 3px;
}

.tool-bar {
    -fx-background-color: #5EB998;
}

.tool-bar .button {
    -fx-font-size: 0.9em;
    -fx-min-width: 60px;
    -fx-pref-width: 75px;
}

.button {
    -fx-background-color: #40a070;
    -fx-text-fill: white;
}

/*hover伪类选择器设置鼠标移过Button时的背景色*/
.button:hover {
    -fx-background-color: #62c292;
}

/********TabPane**********/
.tab-header-background{
    -fx-background-color: #eee;
}


/***********Tab普通样式************ */
.tab {
    -fx-background-color: #D7F1CF;
    -fx-border-color: #D7F1CF;
    -fx-pref-height: 35px;
    -fx-focus-color: none;
}

.tab-label {
    -fx-text-fill: #3a695f;
}

.tab-close-button {
    -fx-background-color: #ddd;
}

/***************Tab的选中样式**************** */
.tab:selected {
    -fx-background-color: white;
    -fx-border-color: white;
}

.tab:selected .tab-label {
    -fx-text-fill: black;
}

/****************************Tab的hover样式 ******************************/
.tab-close-button:hover {
    -fx-background-color: #f16a35;
}

.tab:hover .tab-label {
    -fx-text-fill: black;
}

.tab:hover {
    -fx-background-color: white;
}


/*id选择器设置Label标题的样式*/
.text-field:focused {

}

/****************TableView*****************/

.column-header-background .column-header{
    -fx-background-color: #eee;
    -fx-border-color: #ddd;
}

.column-header-background  .filler{
    -fx-background-color: #eee;
}

.column-header-background .show-hide-columns-button{
    -fx-background-color: #eee;
}

/*************************************自定义类********************************* */
.negative-btn {
    -fx-background-color: #cf4813;
    -fx-text-fill: white;
}

.negative-btn:hover {
    -fx-background-color: #f16a35;
}
