<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="indi.nonoas.crm.dao.GoodsMapper">
    <resultMap id="GoodsBean" type="indi.nonoas.crm.beans.GoodsBean"/>
    <parameterMap id="GoodsBean" type="indi.nonoas.crm.beans.GoodsBean">
    </parameterMap>

    <select id="selectById" resultMap="GoodsBean">
        select *
        from goods_info
        where id = #{id}
    </select>

    <select id="selectAll" resultMap="GoodsBean">
        select *
        from goods_info
    </select>

    <select id="selectByFiltrate" resultMap="GoodsBean">
        select *
        from goods_info
        where (id like '%' || #{id} || '%' or name like '%' || #{name}) || '%'
          and type like #{type} || '%'
    </select>

    <delete id="deleteByID" parameterType="string">
        delete
        from goods_info
        where id = #{id}
    </delete>

    <insert id="insertInfo" parameterMap="GoodsBean">
        insert into goods_info(id, name, sell_price, purchase_price, quantity, min_discount, deduction, deduction_rate,
                               base_unit, type, photo)
        values (#{id}, #{name}, #{sell_price}, #{purchase_price}, #{quantity}, #{min_discount}, #{deduction},
                #{deduction_rate}, #{base_unit}, #{type}, #{photo})
    </insert>

    <update id="update" parameterMap="GoodsBean">
        update goods_info
        set name=#{name},
            sell_price=#{sell_price},
            purchase_price=#{purchase_price},
            quantity=#{quantity},
            min_discount=#{min_discount},
            deduction=#{deduction},
            deduction_rate=#{deduction_rate},
            base_unit=#{base_unit},
            type=#{type},
            photo=#{photo}
        where id = #{id}
    </update>

    <select id="selectGoodsTypes" resultType="string">
        select name
        from goods_type;
    </select>
</mapper>