<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="indi.nonoas.crm.dao.LoginMapper">
    <resultMap id="LoginBean" type="indi.nonoas.crm.pojo.LoginDto"/>
    <select id="verifySelect" resultMap="LoginBean">
        select *
        from LOGIN_INFO
        where USER_ID = #{id}
          and  PASSWORD= #{password}
    </select>
</mapper>