<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="indi.nonoas.crm.dao.OrderMapper">
    <resultMap id="UgOrderRecordVO" type="indi.nonoas.crm.beans.vo.UsrOdrRecordVO"/>
    <resultMap id="OrderRecordVO" type="indi.nonoas.crm.beans.vo.OrderRecordVO"/>

    <parameterMap id="OrderBean" type="indi.nonoas.crm.beans.OrderBean"/>

    <select id="selectUserGoodsOrder" resultMap="UgOrderRecordVO">
        select *
        from ug_order_record
    </select>

    <select id="selectGdsOrds" resultMap="OrderRecordVO">
        select *
        from order_record
    </select>

    <insert id="insertOrder" parameterMap="OrderBean">
        insert into order_info
                (order_id, user_id, datetime, price, transactor, integral_get, integral_cost, pay_mode)
        values (#{order_id}, #{user_id}, #{datetime}, #{price}, #{transactor}, #{integral_get}, #{integral_cost},
                #{pay_mode});
    </insert>

    <delete id="delete365dAgo">
        delete
        from order_info
        where date('now', '-365 day') >= date(datetime)
    </delete>
</mapper>