<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="indi.nonoas.crm.dao.UserMapper">

    <resultMap id="UserBean" type="indi.nonoas.crm.beans.UserBean"/>

    <parameterMap id="UserBean" type="indi.nonoas.crm.beans.UserBean"/>

    <select id="getUserById" resultMap="UserBean">
        select *
        from user_info
        where id = #{id}
    </select>

    <select id="getInfoByIdOrName" resultMap="UserBean">
        select *
        from user_info
        where id = #{id}
           or name = #{name}
    </select>

    <select id="selectAllUser" resultMap="UserBean">
        select *
        from user_info
    </select>

    <select id="selectByFiltrate" resultMap="UserBean">
        select *
        from user_info
        where (id like '%' || #{id} || '%' or name like #{name})
          and card_level like #{card_level} || '%'
    </select>

    <select id="selectByDateFiltrate" resultMap="UserBean">
        select *
        from user_info
        where (id like #{id} or name like #{name})
          and card_level like #{card_level}
          and admission_date between #{dateStart} and #{dateEnd}
    </select>

    <insert id="insertInfo" parameterMap="UserBean">
        insert into user_info(id, name, sex, birthday, card_level, balance, cumulative,
                              address, integral, telephone, idcard, career, email, other, admission_date, photo,
                              discount)
        values (#{id}, #{name}, #{sex}, #{birthday}, #{cardLevel}, #{balance},
                #{cumulative}, #{address}, #{integral}, #{telephone}, #{idcard},
                #{career}, #{email}, #{other}, #{admissionDate}, #{photo}, #{discount})
    </insert>

    <delete id="deleteByID" parameterType="string">
        delete
        from user_info
        where id = #{id}
    </delete>

    <update id="updateInfo" parameterMap="UserBean">
        update user_info
        set name=#{name},
            sex=#{sex},
            birthday=#{birthday},
            card_level=#{cardLevel},
            balance=#{balance},
            discount=#{discount},
            cumulative=#{cumulative},
            address=#{address},
            integral=#{integral},
            telephone=#{telephone},
            idcard=#{idcard},
            career=#{career},
            email=#{email},
            other=#{other}
        where id = #{id};

    </update>


</mapper>